<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Check whether you are eligible for vote or not</h1>
    {% if age>=18 %}
    {# this is a comment line used in jinja template #}
        <h2>Your age is {{age}}, you are eligible to vote</h2>
    {% else %}
        <h2>Your age is {{age}}, you are not eligible to vote </h2>
        <h2>Try after {{18-age}} years</h2>
    {% endif %}
</body>
</html>